@use "sass:math";

$body-font-size: 14px;

@function pixelToRem($size) {
  $proportion: math.div($size, $body-font-size);
  @return $proportion * 1rem;
}

@mixin font($font-size, $line-height, $font-weight) {
  font-size: pixelToRem($font-size);
  line-height: pixelToRem($line-height);
  font-weight: $font-weight;
}

@mixin heading-xl {
  @include font(24px, 30px, 700);
}

@mixin heading-l {
  @include font(18px, 23px, 700);
}

@mixin heading-m {
  @include font(15px, 19px, 700);
}

@mixin heading-s {
  @include font(12px, 15px, 700);
  letter-spacing: 2.4px;
}

@mixin body-l {
  @include font(13px, 23px, 500);
}

@mixin body-m {
  @include font(12px, 15px, 700);
}

@mixin button {
  @include font(13px, 23px, 700);
}
